node_modules
# Keep environment variables out of version control
.env

/generated/prisma
.DS_Store
#hardcoded  

#Project start

#pnpm init
#pnpm add typescript tsx @types/node --save-dev
#npx tsc --init



